#profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

#appTitle{
  font-family: 'Shrikhand', cursive;
  color: purple;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ion-icon {
  margin: 10px;
  font-size: 30px;
}
