<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-title>{{data.category}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-spinner *ngIf="!isLoaded"></ion-spinner>

    <ion-card>
        <ion-card-header></ion-card-header>
        <ion-card-content>
            <div>
                Questions
            </div>
            <div>{{ strParse( activeUser ) }}</div>
            <div>{{ strParse( activeQuestion ) }}</div>
            <div>{{ answers }}</div>
            <div>{{ strParse( answerResult ) }}</div>
            <div> {{ strParse( resultComment ) }}</div>
            <div></div>
        </ion-card-content>
    </ion-card>

</ion-content>
