<app-header></app-header>

<ion-content padding class="player{{temp}} hydrated">

    <ion-spinner *ngIf="!isLoaded"></ion-spinner>
    <!--<div *ngIf="isLoaded">-->
    <ion-card *ngIf="isLoaded" class="info">
        <ion-card-header class="playerHeader">Players</ion-card-header>
        <ion-card-content class="playerContainer">
            <div *ngFor="let player of players; let i = index" class="player{{i}} inP">
                <div *ngIf="temp === i" style="font-size: 25px; font-weight: bold">{{i + 1}}.{{ player['name'] }}</div>
                <p *ngIf="temp !== i">{{i + 1}}.{{ player['name'] }}</p>
                <div>
                    Score: {{ player['score'] }}
                    <ion-icon name="trophy" *ngIf="winners.length == 1 && winners[0]['id'] === player['id']"></ion-icon>
                    <div *ngFor="let winner of winners; index as index">
                        <ion-icon name="bowtie" *ngIf="winners.length > 1 && winner['id'] === player['id'] && (winner['score'] != 0)"></ion-icon>
                    </div>

                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isLoaded" class="numQuestions">
        <!--<ion-card id="content" class="{{ questionAnim }} sc-ion-card-md-h sc-ion-card-md-s hydrated">-->
        <ion-card-content class="roundInfo" *ngIf="!isAnswered && !gameEnded">
            <div>{{ data.category }} - {{ data.difficulty }}</div> <div>Round {{ this.round }} of {{ questions.length/players.length }}</div>
        </ion-card-content>
    </ion-card>

        <!--Had to add this back in to see questions-->
    <canvas id="confetti"></canvas>
    <ion-card *ngIf="isLoaded" id="content" class="{{ questionAnim }} sc-ion-card-md-h sc-ion-card-md-s hydrated">

        <!--I had to uncomment this to see questions and add above lie back in-->
    <!--<ion-card *ngIf="players[temp]['id'] === user['id'] && isLoaded " id="content" class="{{ questionAnim }} sc-ion-card-md-h sc-ion-card-md-s hydrated">-->
        <ion-card-header>
            <!--<h4>{{ data.category }} - {{ data.difficulty }}</h4>-->
        </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-radio-group #answerValue>

                        <ion-list-header *ngIf="isLoaded">
                            <div class="question">
                                <h3>{{ activeQuestion }}</h3>
                            </div>
                        </ion-list-header>

                        <ion-item *ngFor="let answer of answers">
                            <ion-label> {{ strParse(answer.pAnswer) }}</ion-label>
                            <ion-radio slot="end" [value]="answer.correct" (ionSelect)="getPlayerAnswer(answer.correct)" disabled="{{ isAnswered }}"></ion-radio>
                        </ion-item>

                    </ion-radio-group>
                </ion-list>
                <div *ngIf="isLoaded">
                <ion-card class="answerRight" *ngIf="isLoaded && isAnswered && right">
                <div class="result">Correct!!</div>
                    </ion-card>
                    <ion-card class="answerWrong" *ngIf="isAnswered && !right">
                        <div class="result">Incorrect!</div>
                        <div>The correct answer is....{{ strParse(correctAnswer) }}</div>
                    </ion-card>

                    <ion-button *ngIf="isAnswered && !gameEnded" (click)="startRound();getWinner(); answerValue.value = ''">Next Question</ion-button>
                    <ion-button *ngIf="isAnswered && gameEnded" (click)="goToStatsPage(this.user); getWinner();">See Player Results  </ion-button>
                </div>
            </ion-card-content>
    </ion-card>
    <!--</div>-->
    <!--<ion-card *ngIf="players[temp]['id'] !== user['id'] && isLoaded">-->
        <!--<h1>It's {{ players[temp]['name'] }}'s turn!</h1>-->
    <!--</ion-card>-->
</ion-content>
