<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-title>{{data.category}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-spinner *ngIf="!isLoaded"></ion-spinner>

    <ion-card *ngFor="let question of data.questions">
        <ion-card-header>{{strParse(question['question'])}}</ion-card-header>
        <ion-card-content>
            <ion-button color="primary" shape="round" (click)="answerQuestion( 1, false )">A</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>