<app-header></app-header>

<ion-content>
    <div id="content">
        <div id="form">
            <ion-item>
                <ion-label>
                    Number of Players:
                </ion-label>
                <ion-select [(ngModel)]="data.numOfPlayers" placeholder="# of Players" interface="popover">
                    <ion-select-option>1</ion-select-option>
                    <ion-select-option>2</ion-select-option>
                    <ion-select-option>3</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>
                    Select Players:
                </ion-label>
                <ion-select multiple="true" [(ngModel)]="data.players" *ngIf="data.numOfPlayers"
                            (ionChange)="checkPlayers()" placeholder="Select Players">
                    <ng-container *ngFor="let gamer of gamers">
                        <ion-select-option *ngIf="gamer.id !== user.id" value="{{gamer['id']}}">
                            {{gamer['name']}}
                        </ion-select-option>
                    </ng-container>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>
                    Category:
                </ion-label>
                <ion-select [(ngModel)]="data.categoryID" placeholder="Category..." interface="popover" (ionChange)="updateCategoryName(); updateQuestionCount()">
                    <ion-select-option *ngFor="let category of categories" value="{{category['id']}}">{{category['name']}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-radio-group [(ngModel)]="data.difficulty" (ionChange)="updateQuestionCount()">
                <ion-item>
                    <ion-label>Easy</ion-label>
                    <ion-radio value="easy"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Medium</ion-label>
                    <ion-radio value="medium"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Hard</ion-label>
                    <ion-radio value="hard"></ion-radio>
                </ion-item>
            </ion-radio-group>

            <ion-item *ngIf="data.category && data.difficulty">
                <ion-label>Questions per Player: </ion-label>
                <input type="number" max="{{questionCount/(data.players.length + 1)}}" placeholder="#"
                       [(ngModel)]="data.questions"/>
            </ion-item>

            <ion-button *ngIf="data.questions && correctAmount" shape="round" color="primary" (click)="startGame()" slot="end">Start Game</ion-button>
        </div>
    </div>
</ion-content>
