#profile_pic {
  width: 40px;
  border-radius: 100%;
}

ion-content {
  --background: #C90090;
}

#form {
  * {
    margin: 10px;
    background: #FFFFFF;
  }
}
ion-button {
  display: block;
  margin: auto;
  width: 200px;
}
