#menu {
  ion-content {
    --background: #2C3E50;
  }
  ion-title {
    font-family: 'Shrikhand', sans-serif;
    color: #C90090;
  }
  ion-list {
    background-color: #2C3E50;
  }
  ion-item {
    --background: #ECF0F1;
    --border-radius: 50px;
    margin: 10px auto;
    width: 90%;
    ion-label {
      font-family: 'Poppins', sans-serif;
    }
  }
}