// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$red: #ff0000;
//$orange: #ffa500;
$orange: #FF7126;
$yellow: #ffff00;
$green: #00da00;
$blue: #0054ff;
$purple: #C90090;
$pink: #FF1A85;

@keyframes bgColor {
  0% { background-color: $red }
  25% { background-color: $yellow }
  50% { background-color: $green }
  75% { background-color: $blue }
  90% { background-color: $purple }
  100% { background-color: $red }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

ion-spinner {
  margin: auto;
  display: block;
  width: 80px !important;
  height: 80px !important;
  fill: #008081 !important;
}
